<div [attr.id]="'video_modal'+type.videoType+seasonIndex" class="modal epVideoPopup fade peripheral_modal  rounded" [ngClass]="'video_modal'+type.videoType+seasonIndex" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" [attr.aria-labelledby]="'.video_modal'+type.videoType+seasonIndex"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <!-- *ngIf="showPopUp" -->
        <div class="modal-content"  *ngIf="showPopUp">
            <div class="modal-header" style="border-bottom: 1px solid #ccc;">
                <h5 class="modal-title text-capitalize" id="genre_modal"
                     [innerHtml]="type.screeType+' '+type.videoType+' Videos'">
                    
                </h5>
                <button *ngIf="totalVideoChecked == 0" type="button" class="close" data-dismiss="modal" aria-label="Close"
                  (click)="closePopUp()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="topSection d-flex justify-content-between align-items-center w-100">
                    <div class="addArtistTabs">
                        <ul class="nav nav-tabs cmsTabs" id="myTab" role="tabpanel">
                            <li class="nav-item">
                                <button class="nav-link" [class.active]="activeTab==0" id="selVideo-tab" role="tab"
                                    aria-controls="selVideo" aria-selected="true" (click)="activeTab=0">Select
                                    Video</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" [class.active]="activeTab==1" id="enterVideoDetails-tab" role="tab"
                                    aria-controls="enterVideoDetails" aria-selected="false" (click)="nextToDetailSection()"
                                    [disabled]="totalVideoChecked==0">Enter Video Details</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" [class.show]="activeTab==0" [class.active]="activeTab==0" id="selVideo"
                        role="tabpanel" aria-labelledby="selVideo-tab">
                        <h3> Select Videos </h3>
                        <div class="form-group w-100 d-flex justify-content-between align-items-center">
                            <div class="position-relative">
                                <input class="form-control float-left"
                                  [placeholder]="'Search '+type.screeType+' '+type.videoType"
                                type="search" (ngModelChange)="videoSearch($event)" [(ngModel)]="searchText"
                                name="">
                                <span class="position-absolute">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 18 18">
                                    <defs>
                                        <path id="a" d="M9.625 8.5h-.592l-.21-.203A4.853 4.853 0 0 0 10 5.125 4.875 4.875 0 1 0 5.125 10a4.853 4.853 0 0 0 3.172-1.178l.203.21v.593l3.75 3.742 1.117-1.117L9.625 8.5zm-4.5 0A3.37 3.37 0 0 1 1.75 5.125 3.37 3.37 0 0 1 5.125 1.75 3.37 3.37 0 0 1 8.5 5.125 3.37 3.37 0 0 1 5.125 8.5z"/>
                                    </defs>
                                    <g fill="none" fill-rule="evenodd" opacity=".704" transform="translate(2 2)">
                                        <mask id="b" fill="#fff">
                                            <use xlink:href="#a"/>
                                        </mask>
                                        <g fill="#B1B1B1" mask="url(#b)">
                                            <path d="M-11.75-11.75h37.5v37.5h-37.5z"/>
                                        </g>
                                    </g>
                                </svg></span>
                            </div>
                            <h6 [innerHtml]="'Selected Videos('+totalVideoChecked+')'" class="mb-0"> </h6>
                        </div>

                        <!-- video listing -->
                        <div class="row no-gutters w-100">
                            <!-- loop through this -->
                            <div class="col col-3" style="padding-right: 10px;margin-top: 10px;"
                                *ngFor="let item of combineListing; let i=index;">
                                <div class="someCard" [ngStyle]="{'pointer-events': selectedLang=='hindi'? 'none':'unset'}"> 
                            <!-- add checked class above -->
                                    <span class="chupa" style="position: absolute;right:0;top:-3px">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                            viewBox="0 0 16 16">
                                            <defs>
                                                <path id="a"
                                                    d="M7 .333A6.67 6.67 0 0 0 .333 7 6.67 6.67 0 0 0 7 13.667 6.67 6.67 0 0 0 13.667 7 6.67 6.67 0 0 0 7 .333zm-1.333 10L2.333 7l.94-.94 2.394 2.387 5.06-5.06.94.946-6 6z" />
                                                <path id="c" d="M0 0h33.333v33.333H0z" />
                                            </defs>
                                            <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                                                <mask id="b" fill="#fff">
                                                    <use xlink:href="#a" />
                                                </mask>
                                                <g mask="url(#b)">
                                                    <use fill="#7A0600" transform="translate(-9.667 -9.667)"
                                                        xlink:href="#c" />
                                                </g>
                                            </g>
                                        </svg>
                                    </span>
                                    <div class="Checkbox artcrd">
                                        <!-- [checked]="item._id == selecteVideoElement['_id']"  (click)="$event.preventDefault()"-->
                                        <input class="styled-checkbox" value="item.isUsed " [id]="'artcrd'+i"
                                            type="checkbox" [checked]="item.isUsed == true"
                                            (change)="checkUncheck($event, i)" >
                                        <label style="position: absolute; top: 0;  width: 100%; height: 100%;"
                                            [for]="'artcrd'+i" class="ml-2 mb-0 d-flex align-items-center"></label>
                                    </div>
                                    <div class="playIcVPopup">
                                        <a href="javascript:void(0);">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 286.054 286.054" style="enable-background:new 0 0 286.054 286.054;" xml:space="preserve" width="34px" height="34px" class=""><g><g>
                                                <path d="M143.027,0.004C64.04,0.004,0,64.036,0,143.022c0,78.996,64.04,143.027,143.027,143.027   s143.027-64.031,143.027-143.027C286.054,64.045,222.014,0.004,143.027,0.004z M143.027,259.232   c-64.183,0-116.209-52.026-116.209-116.209s52.026-116.21,116.209-116.21s116.209,52.026,116.209,116.209   S207.21,259.232,143.027,259.232z M200.863,136.434l-81.856-45.581c-5.962-3.638-11.827-0.706-11.827,6.526v91.367   c0,7.223,5.864,10.173,11.827,6.517l81.722-44.91C208.31,146.035,205.548,139.071,200.863,136.434z" data-original="#2394BC" class="active-path" data-old_color="#2394BC" fill="#7A0600"/>
                                            </g></g> </svg>
                                        </a>
                                    </div>
                                    <div class="shEpVideo__popup d-flex">
                                        <div class="image">
                                            <img *ngIf="type.videoType=='peripheral' && !!item.tempThumbnail==true" [src]="this.s3Url['basePath']+this.s3Url[type.screeType+'Path']+'/horizontal/'+item.tempThumbnail" class="" alt="" style="min-width:125px;width: 100%;">
                                            <img *ngIf="type.videoType=='peripheral' && !item.tempThumbnail==true" [src]="this.s3Url['basePath']+this.s3Url[type.screeType+'Path']+constantImg.horizontalSmall+item[selectedLang]['thumbnail']['horizontal']['sourceLink']" class="" alt="" style="min-width:125px;width: 100%;">
                                            <img *ngIf="type.videoType=='episode' && !!item.tempThumbnail==true" [src]="this.s3Url['basePath']+this.s3Url['episodePath']+'/horizontal/'+item.tempThumbnail" class="" alt="" style="min-width:125px;width: 100%;">
                                            <img *ngIf="type.videoType=='episode' && !item.tempThumbnail==true" [src]="this.s3Url['basePath']+this.s3Url['episodePath']+constantImg.horizontalSmall+item[selectedLang]['thumbnail']['horizontal']['ratio1']['sourceLink']" class="" alt="" style="min-width:125px;width: 100%;">
                                        </div>
                                        <div class="meta" style="padding: 0px 8px;">
                                            <h6 class=""
                                                [innerHtml]="!!item[selectedLang].title==true?item[selectedLang].title:item.sourceLink"
                                                style="font-family: Muli;font-size: 14px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #191919;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;  overflow: hidden;word-break: break-word;white-space: normal;margin-top: 8px;"></h6>
                                            <span style="opacity: 0.7;font-family: Muli;font-size: 12px;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #191919;position: absolute;bottom: 8px;">Duration : <span [innerHtml]="item.duration | timeFormatter"></span> min</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- loop through this -->
                        </div>
                        <!-- /video listing -->
                    </div>
                    <div class="tab-pane fade enterVideoDetails" [class.show]="activeTab==1" [class.active]="activeTab==1" id="enterVideoDetails"
                        role="tabpanel" aria-labelledby="enterVideoDetails-tab">
                        <h3>Selected Video</h3>
                        <form [formGroup]="vForm">
                            <ng-container [formGroup]="vForm.controls[selectedLang]">
                                <ng-container formArrayName="details">
                                    <!-- this div will loop -->
                                    <div class="d-flex enterVDtFrm"
                                        *ngFor="let item of detailFields(selectedLang).controls; let pointIndex=index"
                                        [formGroupName]="pointIndex" sty>
                                        <div class="thumbnail position-relative">
                                            <img *ngIf="type.videoType=='peripheral' && !!item.value['tempThumbnail']" [src]="this.s3Url['basePath']+this.s3Url[type.screeType+'Path']+'/horizontal/'+item.value['tempThumbnail']"
                                                class="img-fluid">
                                            <img *ngIf="type.videoType=='peripheral' && !item.value['tempThumbnail']" [src]="item.value['horizontal_large']['imgUrl']"
                                                class="img-fluid">
                                            
                                            <img *ngIf="type.videoType=='episode' && !!item.value['tempThumbnail']" [src]="this.s3Url['basePath']+this.s3Url['episodePath']+'/horizontal/'+item.value['tempThumbnail']"
                                                class="img-fluid">
                                            <img *ngIf="type.videoType=='episode' && !item.value['tempThumbnail']" [src]="item.value['horizontal_large']['imgUrl']"
                                                class="img-fluid">
                                            <!-- <span style="position: absolute;bottom: 0;left: 0;">Play Icon</span> -->
                                            <div class="playIcVPopup">
                                                <a href="javascript:void(0);">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 286.054 286.054" style="enable-background:new 0 0 286.054 286.054;" xml:space="preserve" width="34px" height="34px" class=""><g><g>
                                                        <path d="M143.027,0.004C64.04,0.004,0,64.036,0,143.022c0,78.996,64.04,143.027,143.027,143.027   s143.027-64.031,143.027-143.027C286.054,64.045,222.014,0.004,143.027,0.004z M143.027,259.232   c-64.183,0-116.209-52.026-116.209-116.209s52.026-116.21,116.209-116.21s116.209,52.026,116.209,116.209   S207.21,259.232,143.027,259.232z M200.863,136.434l-81.856-45.581c-5.962-3.638-11.827-0.706-11.827,6.526v91.367   c0,7.223,5.864,10.173,11.827,6.517l81.722-44.91C208.31,146.035,205.548,139.071,200.863,136.434z" data-original="#2394BC" class="active-path" data-old_color="#2394BC" fill="#7A0600"/>
                                                    </g></g> </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="meta flex-grow-1" >
                                            <div class="form-group epTtl__VD" style="margin-bottom: 18px;">
                                                <label for="showName" >Display Episode Title</label>
                                                <input type="text" formControlName="title" class="form-control" (blur)="checkSlugApi(pointIndex)"
                                                    id="showName" maxlength="100" >
                                            </div>
                                            <ng-container *ngIf="type.videoType=='episode'">
                                                <div class="form-group epDesc__VD" style="margin-bottom: 18px;">
                                                    <label for="showDesc" >Episode Description</label>
                                                    <input type="text" formControlName="description" class="form-control"
                                                        id="showDesc" maxlength="500" >
                                                </div>
                                            </ng-container>
                                            <div class="tagWrap">
                                                <ng-container *ngIf="type.videoType=='episode' && selectedLang == 'english'">
                                                    <!-- (change)="copyDataFromOneLangToOther('artistList')" -->
                                                    <tag-input formControlName="artistList" [onlyFromAutocomplete]="true" (onAdd)="addArtistToOther($event, pointIndex)"
                                                      (onRemove)="removeArtistToOther($event, pointIndex)">
                                                        <tag-input-dropdown [zIndex]="100000" [dynamicUpdate]="false"
                                                        [focusFirstElement]="true" [showDropdownIfEmpty]="false" 
                                                        [displayBy]="'name'" [identifyBy]="'id'" [autocompleteItems]="indvArtistList['english']" >
                                                            <ng-template let-item="item" let-index="index">
                                                                {{ item.name }}
                                                            </ng-template>
                                                        </tag-input-dropdown>
                                                        
                                                  </tag-input>
                                                </ng-container>
                                            </div>

                                            <ng-container *ngIf="type.videoType=='episode' && selectedLang=='hindi'">
                                                <!-- (change)="copyDataFromOneLangToOther('artistList')" -->
                                                <tag-input formControlName="artistList" [onlyFromAutocomplete]="true" (onAdd)="addArtistToOther($event, pointIndex)"
                                                  (onRemove)="removeArtistToOther($event, pointIndex)">
                                                     <ng-template let-item="item" let-index="index">
                                                        {{ item.name }}
                                                    </ng-template> 
                                              </tag-input>
                                            </ng-container>
                                        </div>
                                        
                                    <div class="allUploader">
                                    <label>Upload Thumbnail</label>
                                    <div class="d-flex">
                                    <ng-container *ngIf="type.videoType=='episode'">
                                        <div class="uploader" formGroupName="square" style="width: 113px; height: 113px;">
                                            <span>
                                                <input class="input_file" type="file" accept="image/jpeg" formControlName="sourceLink" (change)="changeImage($event, 'square', pointIndex, 1, 1)"  >
                                                <p>Upload Image 1:1</p>
                                                
                                                    <img *ngIf="!!detailFields(selectedLang).value[pointIndex]['square']['imgUrl']" [src]="detailFields(this.selectedLang).value[pointIndex]['square']['imgUrl']" style=" position: absolute; right: 0;top: 0; left: 0; bottom: 0; margin: 0 auto; width: 100%; height: 100%; ">
                                                    <div class="progress" style=" position: absolute;  bottom: 0; width: 100%; ">
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                        [ngStyle]="{'width': detailFields(selectedLang).value[pointIndex]['square']['progPer']+'%'}">
                                                        </div>
                                                    </div>
                                            </span>
                                                <div class="uploadBtn changeImg position-absolute">
                                                    <input type="file" accept="image/jpeg" formControlName="sourceLink" (change)="changeImage($event, 'square', pointIndex,1, 1)"> CHANGE 
                                                </div>
                                                <small class="form-text txt_color_primary position-absolute" style="bottom:-70px"  *ngIf="detailFields(selectedLang).value[pointIndex]['square']['status'] == 'failed'">Error in image upload.</small>
                                        </div>

                                    </ng-container>

                                    <div class="uploader" formGroupName="horizontal_large" style="width: 160px; height: 90px;">
                                        <span>
                                            <input class="input_file" type="file" accept="image/jpeg" formControlName="sourceLink" (change)="changeImage($event, 'horizontal_large', pointIndex, 16, 9 )">
                                            <p>Upload Image 16:9</p>
                                            
                                            <img style=" position: absolute; right: 0;top: 0; left: 0; bottom: 0; margin: 0 auto; width: 100%; height: 100%; " *ngIf="type.videoType=='episode' && !!detailFields(this.selectedLang).value[pointIndex]['horizontal_large']['imgUrl']" [src]="detailFields(this.selectedLang).value[pointIndex]['horizontal_large']['imgUrl']" class="img-fluid uploaded"
                                                />
                                            <img style=" position: absolute; right: 0;top: 0; left: 0; bottom: 0; margin: 0 auto; width: 100%; height: 100%; " *ngIf="type.videoType!='episode' && !!detailFields(this.selectedLang).value[pointIndex]['horizontal_large']['imgUrl']" [src]="detailFields(this.selectedLang).value[pointIndex]['horizontal_large']['imgUrl']" class="img-fluid uploaded"
                                                />
                                            <div class="progress" style=" position: absolute;  bottom: 0; width: 100%; ">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                [ngStyle]="{'width': detailFields(selectedLang).value[pointIndex]['horizontal_large']['progPer']+'%'}">
                                                </div>
                                            </div>
                                        </span>
                                        <div class="uploadBtn changeImg position-absolute">
                                            <input type="file" accept="image/jpeg" formControlName="sourceLink" (change)="changeImage($event, 'horizontal_large', pointIndex, 16, 9)"> CHANGE 
                                        </div>
                                        <small class="form-text txt_color_primary position-absolute" style="bottom:-70px"  *ngIf="detailFields(selectedLang).value[pointIndex]['horizontal_large']['status'] == 'failed'">Error in image upload.</small>
                                    </div>
                                                                        
                                    <ng-container *ngIf="type.videoType=='episode' && type.screeType =='collection'">
                                        <div class="uploader" formGroupName="vertical" style="width: 108px; height: 192px;" >
                                            <span>
                                                <input class="input_file" type="file" accept="image/jpeg" formControlName="sourceLink" (change)="changeImage($event, 'vertical', pointIndex, 9, 16)">
                                                <p>Upload Image 9:16</p>
                                                <img style=" position: absolute; right: 0;top: 0; left: 0; bottom: 0; margin: 0 auto; width: 100%; height: 100%; "  *ngIf="!!detailFields(this.selectedLang).value[pointIndex]['vertical']['imgUrl']" [src]="detailFields(this.selectedLang).value[pointIndex]['vertical']['imgUrl']" class="img-fluid uploaded"
                                                    />
                                                <div class="progress" style=" position: absolute;  bottom: 0; width: 100%; ">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                    [ngStyle]="{'width': detailFields(selectedLang).value[pointIndex]['vertical']['progPer']+'%'}">
                                                    </div>
                                                </div>
                                            </span>
                                            <div class="uploadBtn changeImg position-absolute">
                                                <input type="file" accept="image/jpeg" formControlName="sourceLink" (change)="changeImage($event, 'vertical', pointIndex, 9, 16)"> CHANGE 
                                            </div>
                                            <small class="form-text txt_color_primary position-absolute" style="bottom:-70px"  *ngIf="detailFields(selectedLang).value[pointIndex]['vertical']['status'] == 'failed'">Error in image upload.</small>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngIf="type.videoType=='episode' && type.screeType =='collection'">
                                        <div class="uploader" formGroupName="horizontal_small" style="width: 170px; height: 113px;" >
                                            <span>
                                                <input class="input_file" type="file" accept="image/jpeg" formControlName="sourceLink" (change)="changeImage($event, 'horizontal_small', pointIndex, 3, 2)">
                                                <p>Upload Image 3:2</p>
                                                <img style=" position: absolute; right: 0;top: 0; left: 0; bottom: 0; margin: 0 auto; width: 100%; height: 100%; " *ngIf="!!detailFields(this.selectedLang).value[pointIndex]['horizontal_small']['imgUrl']" [src]="detailFields(this.selectedLang).value[pointIndex]['horizontal_small']['imgUrl']" class="img-fluid uploaded"
                                                    />
                                                <div class="progress" style=" position: absolute;  bottom: 0; width: 100%; ">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                                    [ngStyle]="{'width': detailFields(selectedLang).value[pointIndex]['horizontal_small']['progPer']+'%'}">
                                                    </div>
                                                </div>
                                            </span>
                                            <div class="uploadBtn changeImg position-absolute">
                                                <input type="file" accept="image/jpeg" formControlName="sourceLink" (change)="changeImage($event, 'horizontal_small', pointIndex, 3, 2)"> CHANGE 
                                            </div>
                                            <small class="form-text txt_color_primary position-absolute" style="bottom:-70px"  *ngIf="detailFields(selectedLang).value[pointIndex]['horizontal_small']['status'] == 'failed'">Error in image upload.</small>
                                        </div>
                                    </ng-container>

                                    </div>
                                    </div>
                                </div>
                                <!-- </div> -->
                                </ng-container>
                            </ng-container>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button  *ngIf="activeTab == 0" type="button" class="btn btn-primary" (click)="nextToDetailSection()"
                    [disabled]="totalVideoChecked==0" style="border-radius: 35.5px;border: solid 2px #ffffff;background-color: #7a0600;font-family: Muli;
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #ffffff;">Next</button>
                <button *ngIf="activeTab == 1" [disabled]="this.detailFields(this.selectedLang).invalid" type="button" class="btn btn-primary text-uppercase" style="border-radius: 35.5px;border: solid 2px #ffffff;background-color: #7a0600;font-family: Muli;
                    font-size: 16px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #ffffff;" (click)="addVideoToShow()" [innerHtml]="'ADD '+type.videoType+' TO '+ type.screeType">
                </button>
            </div>
        </div>
    </div>
</div>
<!-- SHOW PERIPHERAL MODAL -->